<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Colors
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let color of colors">
    <ion-card (click)="show(color.id)">
      <ion-card-header>
        <ion-card-title> {{ color.name | uppercase }}
          <div class="color-sample" style="background: {{ color.color }} "></div>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>Id: {{ color.id }}</p>
        <p>Year: {{ color.year }}</p>
        <p>Color code: {{ color.color }}</p>
        <p>Pantone: {{ color.pantone }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>


</ion-content>